In [1]:
import pandas as pd

df = pd.read_csv('./data/fhvhv_tripdata_2020-03.csv') # csv -> DataFrame

In [3]:
df.head(5)

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
0,HV0005,B02510,2020-03-01 00:03:40,2020-03-01 00:23:39,81,159,NaN
1,HV0005,B02510,2020-03-01 00:28:05,2020-03-01 00:38:57,168,119,NaN
2,HV0003,B02764,2020-03-01 00:03:07,2020-03-01 00:15:04,137,209,1.0
3,HV0003,B02764,2020-03-01 00:18:42,2020-03-01 00:38:42,209,80,NaN
4,HV0003,B02764,2020-03-01 00:44:24,2020-03-01 00:58:44,256,226,NaN

In [4]:
df.shape

(13392904, 7)

In [5]:
df.hvfhs_license_num.unique()

array(['HV0005', 'HV0003', 'HV0004'], dtype=object)

In [7]:
df.dispatching_base_num.unique()

array(['B02510', 'B02764', 'B02682', 'B02765', 'B02864', 'B02800',
       'B02880', 'B02882', 'B02869', 'B02884', 'B02887', 'B02836',
       'B02879', 'B02872', 'B02617', 'B02866', 'B02876', 'B02888',
       'B02878', 'B02883', 'B02835', 'B02875', 'B02889', 'B02871',
       'B02395', 'B02867', 'B02877', 'B02865', 'B02512', 'B02870',
       'B03136', 'B02844'], dtype=object)